*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meus-filmes {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items:center;

}

.meus-filmes h1{
    margin-bottom: 14px;
}

.meus-filmes span {
    font-size: 18px;   
}

.meus-filmes ul {
    width:720px;
}

.meus-filmes ul li {
    list-style: none;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 14px;
}

.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a {
    text-decoration: none;
    margin-right: 14px;
    color: blue;
}